{% include 'base.html' %}


{% block content %}
<div class='book-list mb-4'>
    <form method='get' class='bg-gray-100 p-2'>
        <input type="text" placeholder='search...' class='p-1 me-2 border rounded' name='q'>
        <button class='bg-gray-300 p-1 rounded'>search</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}  
    {% endif %}
</div>
    <div class='book-list grid grid-cols-2 gap-x-16 gap-y-16'>
        {% for book in books %}
            <div class='book-card bg-orange-100 rounded-[12px] p-4 shadow-xl'>
                <div class="flex">
                    <img src="{{ book.book_picture.url }}" class='book_img w-36 h-36 object-contain rounded-tl-[8px]' alt="book.png">
                    <div class='ms-4'>
                        <h3 class='text-xl font-bold text-orange-700'><a href="{% url 'detail' book.id %}"># {{ book.title }}</a></h3>
                        <small class='text-xs'>author: {{ book.author.full_name }}</small><br>
                        <small class='text-xs'>isbn: {{ book.isbn }}</small><br>
                        <small class='text-xs'>created: {{ book.create_time }}</small>
                    </div>
                </div>
                <p class='text-justify'>{{ book.description|truncatewords:50 }}</p>
                <h5 class='font-semibold'>price: {{ book.price }} ming so'm</h5>
                <h5>{{ reviews_count }}</h5>
            </div>
        {% endfor %}
    </div>  
{% endblock content %}
