{% include 'base.html' %}


{% block content %}
<div class="register-card bg-orange-100 mx-[140px] py-8 flex">
    <img src="{{ user.picture.url }}" alt="profile_pic" class='w-36'>

    <div>
        {% if user.username %}
            <h3>username: {{ user.username }}</h3>
        {% endif %}

        <h4>
            {% if user.first_name %}
                full name:
                {{ user.first_name }}
            {% endif %}

            {% if user.last_name %}
                {{ user.last_name }}
            {% endif %}
        </h4>

        <h4>
            {% if user.date_of_birth %}
                birth date:
                {{ user.date_of_birth }}
            {% endif %}
        </h4>

        <h4>
            {% if user.date_joined %}
                date joined:
                {{ user.date_joined }}
            {% endif %}
        </h4>

        <h4>
            {% if user.gender %}
                {{ user.gender }}
            {% endif %}
        </h4>

        <h4>
            {% if user.employment %}
                {{ user.employment }}
            {% endif %}
        </h4>
    </div>
</div>

<div class="bg-orange-100 mx-[140px] py-8">
    <form action="{% url 'dashboard' %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='bg-blue-600 rounded-[6px] w-80'>Save</button>
    </form>
</div>

{% endblock content %}

