{% include 'base.html' %}


{% block content %}
    <form action="{% url 'register' %}">
        <div class="grid bg-black-200">
            <div class="input">
                <label for="username">username</label>
                <input type="text" id='username', name='username' required>
            </div>
            <div class="input">
                <label for="email">email</label>
                <input type="email" id='email', name='email' required>
            </div>
            <div class="input">
                <label for="pass">password</label>
                <input type="password" id='pass', name='password' required>
            </div>
        </div>
    </form>
{% endblock content %}
    